<!DOCTYPE html>
<html>
<head>

    <title>PetShop ERP</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="layout">

    <!-- SIDEBAR -->

    <div class="sidebar">

        <h2 class="logo">PetShop ERP</h2>

        <a href="/dashboard">Dashboard</a>
        <a href="/customers">Customers</a>
        <a href="/products">Inventory</a>
        <a href="/orders">Sales</a>
        <a href="/logout" class="logout">Logout</a>

    </div>

    <!-- MAIN CONTENT -->

    <div class="main-content">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert-box">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- TOPBAR -->

        <div class="topbar">

            <div class="topbar-left">

                <button id="sidebarToggle" class="menu-btn">
                    ☰
                </button>

                <h1>PetShop & Grooming System</h1>

            </div>

            <div class="topbar-right">

                <button id="themeToggle">
                    Dark Mode
                </button>

            </div>

        </div>

        <!-- CONTENT -->

        <div class="content">

            {% block content %}
            {% endblock %}

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

</body>
</html>